.container3{
    width: 100%;
    min-height: 13vh;
    margin-top: 5rem;
    overflow-x: hidden;
}

.center{
    text-align: center;
}

.icon-center{
    display: inline-block;
}

.icon-rotate90{
    transform: rotate(90deg) !important;
}

.icon-rotate270{
    transform: rotate(270deg) !important;
}

.icon-rotate-custom{
    transform: rotate(var(--r));
}

.relative{
    position: relative;
}

.inline{
    display: inline;
}

.fix-transform{
    transform:translateY(-13rem)
}

.map__arrow{
    display: flex;
    justify-content:center
}

.float{
    position: absolute;
    transform: translateX(70%);
    top:0;
    font-size: .8rem;
    font-weight: lighter;
}

.fases, .subfases{
    margin: 0;
    padding: 0;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 100%;
}

.small-icon{
    width: 1.1rem;
}

.group{
    width: 23%;
}

.space{
    gap: 2.3rem
}

.group--titles{
    width: 15%;
}

.arrows{
    justify-items: center;
}

.row{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    transform: translateY(-30%);
}

.types{
    width: 90%;
    margin:auto;
}

.types__container{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.types__item{
    width: 30%;
}

.types__icon-left{
    float: right;
}

.types__icon-right{
    float: left;
}

.types__icon-left, .types__icon-right{
    transform: rotate(var(--r));
}

.types__first{
    margin-top: 4rem;
    text-align: center;
}

.sublist-examples{
    width: 50%;
    margin: 1.6rem auto;
    padding-left: 4rem;
}

.light{
    font-weight: 200;
}