.container2{
    margin-top: 5rem;
    width: 100%;
    min-height: 100vh;
}

.box__title, .box__subtitle, .box__text, .list__subtitle{
    text-align: center;
}

.table{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    border: var(--main-color) .2rem solid;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .7rem 2rem var(--main-accent-color);
}

.table__left, .table_right{
    padding: .5rem;
}

.table__left{
    width: 50%;
    border-right: var(--main-color) .1rem solid;
}

.table__right{
    width: 50%;
    border-left: var(--main-color) .1rem solid;
}

.box__text{
    font-size: 1rem;
}

.box__cite{
    font-size: .75rem;
    text-align: center;
}

.box__cite-link{
    text-decoration: underline;
}

.list, .sublist{
    list-style: circle;
}

.list__text{
    font-size: .9rem;
    font-weight: 100;
}

.list__item{
    position: relative;
}

.list__icon{
    position: absolute;
    top: 0;
    right: 5%;
}

.list__cite{
    font-size: .75rem
}

.list__link{
    cursor: pointer;
    text-decoration: underline;
}

.list__cite-link{
    text-decoration: underline;
}

.list__cite-paragraph{
    font-size: .75rem;
}

@media (max-width: 768px){
    .table{
        flex-direction: column;
    }
    .table__left, .table__right{
        width: 90%;
        margin: auto;
    }

    .table__left, .table__right{
        border: none;
    }

}