html, body {
    background: radial-gradient(circle, var(--secondary-background), var(--background));
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-block: 10vh;
    scroll-behavior: smooth;
}

body{
    position: relative;
}

:root{
    --background: #000000;
    --secondary-background: #1a1a1a;
    --main-color: #00FFFF;
    --secondary-color: #FF00FF;
    --third-color: #FF1493;
    --main-accent-color: #00CED1;
    --secondary-accent-color: #8A2BE2;
    --r: 0deg;
}

@font-face{
    font-family: "CustomFont";
    src: url(../assets/font/Roboto-Medium.ttf) format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face{
    font-family: "CustomFont";
    src: url(../assets/font/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "CustomFont";
    src: url(../assets/font/Roboto-Regular.ttf) format("truetype");
    font-weight: regular;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
    color: var(--main-color);
    text-shadow: 0rem .5rem 2rem var(--main-accent-color);
}

img{
    object-fit: cover;
}

.title{
    font-size: 5rem;
    text-align: center;
}

.subtitle{
    font-size: 3rem;
    text-align: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    transition: all 1s;
}

a:hover{
    transform: scale(1.05);
    transition: all 1s;
}

p.blue__neon__text,
a.blue__neon__text,
span.blue__neon__text
li.blue__neon__text{
    color: var(--main-color);
    text-shadow: 0rem .5rem 2rem var(--main-accent-color);
}

.icon{
    width: 2rem;
}

.icon__animated{
    position: absolute;
    bottom: 4rem;
    animation: infinite 5s DownToUp alternate-reverse;
}

@keyframes DownToUp {
    0% { 
        transform: translateY(10px);
    }
    30% {
        transform: translateY(-10px)
    }
    60% {
        transform: translateY(10px)
    }
    100% {
        transform:translateY(-10px)
    }

}