.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 0;
    margin: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__container{
    border: var(--main-color) .2rem solid;
    border-radius: 1rem;
    box-shadow: 0 1rem 5rem var(--main-accent-color);
    width: 50%;
    min-height: 50%;
    text-align: center;
    padding-bottom: 1rem;
    background-color: var(--background);
    cursor:default
}

.modal__title{
    text-align: center;
    font-size: 2rem;
}

.visible{
    display: flex;
}

.hidden{
    display: none;
}

.box__action{
    cursor: pointer;
}

.modal__image{
    width: 80%;
    border-radius: 1rem;
}

.modal__link{
    text-decoration: underline;
}

.modal{
    cursor: pointer;
}